<section id="contacts" class="section contact-section">   
    <div class="contact-container">
        
        <div class="contact-title-wrapper">
            <h1 class="contact-section-title">
                Fresh Harvest Box has got you covered
            </h1>      
            <div class="contact-image-wrapper">
                <div class="contact-left-image">
                  
                    <img src="images/contact-melon.jpg" width="792" height="502" alt="Melon" class="image">
                    

                </div>
                <div class="contact-right-image">
                    <img src="images/contact-blueberry.jpg" width="792" height="502" alt="Blue berries" class="image">                        -->
                </div>
            </div>
        </div>

        <div class="contact-form-container">
            <p class="contact-description">Our boxes are packed with delicious, nutritious fruits and vegetables, perfect for<br>anyone looking to eat healthier or support local farmers. Order your box today and<br>start enjoying the best that nature has to offer!</p>

             <form class="contact-form" name="contactemail-form" >
                <label class="contact-form-label">
                    <input type="email" name="email" placeholder="Enter email..." class="contact-form-input" required />
                </label>      
                <button type"submit" contact-data-modal-open class="contact-form-button">Send
                </button>
            </form>
        </div>   
    </div>
</section>

<div class="contact-backdrop contact-is-hidden" contact-data-modal>
    <div class="contact-modal">
      <button type="button" class="contact-modal-close" contact-data-modal-close>
        <svg class="contact-modal-close-icon" width="15" height="15">
          <use href="images/contacts.svg#close"></use>
        </svg>
      </button>
      <div class="contact-modal-image-container">
        <img src="images/contact-strawberries.png" alt="Strawberries">
      </div>
      <div class="contact-modal-text-wrapper">
        <h2 class="contact-modal-header">THANK YOU</h2>
        <p class="contact-modal-text"> We are thrilled to welcome you to the Fresh Harvest Box. <br>
            Thank you for subscribing to our newsletter!</p>
    </div>
    </div>
</div>