<section class="section contact-section">   
    <div class="contact-container">
        
        <div class="contact-title-wrapper">
            <h1 class="contact-section-title">
                Fresh Harvest Box has got you covered
            </h1>      
            <div class="contact-image-wrapper">
                <div class="contact-left-image">
                  
                    <img src="images/contact-melon.jpg" width="792" height="502" alt="Melon" class="image">
                    

                </div>
                <div class="contact-right-image">
                    <img src="images/contact-blueberry.jpg" width="792" height="502" alt="Blue berries" class="image">                        -->
                </div>
            </div>
        </div>

        <div class="contact-form-container">
            <p class="contact-description">Our boxes are packed with delicious, nutritious fruits and vegetables, perfect for<br>anyone looking to eat healthier or support local farmers. Order your box today and<br>start enjoying the best that nature has to offer!</p>

             <form class="contact-form" name="contactemail-form" >
                <label class="contact-form-label">
                    <input type="email" name="email" placeholder="Enter email..." class="contact-form-input" required />
                </label>      
                <button type"submit" data-modal-open class="contact-form-button">Send
                </button>
            </form>
        </div>   
    </div>
</section>

<div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <button type="button" class="modal-close" data-modal-close>
        <svg class="modal-close-icon" width="15" height="15">
          <use href="images/contacts.svg#close"></use>
        </svg>
      </button>
      <div class="modal-image-container">
        <img src="images/strawberries.png" alt="Strawberries">
      </div>
      <div class="modal-text-wrapper">
        <h2 class="contact-modal-header">THANK YOU</h2>
        <p class="contact-modal-text"> Thank you for your order! Our team is preparing your box with<br>fresh, delicious fruits and vegetables, and we'll deliver it straight to<br>your doorstep. We appreciate your business and look forward to<br>providing you with the best possible experience!</p>
    </div>
    </div>
</div>
<!-- <script src="./contact-modal.js"></script> -->