<footer class="page-footer">
  <div class="footer container-footer container">
    <div class="footer-container">
      <img src="./images/footer-img.png" alt="footer image" class="image" />

      <a class="footer-svg link" href="./index.html">
        <svg width="16" height="16">
          <use href="./images/icons.svg#logo"></use>
        </svg>
        Fresh Harvest Box
      </a>
    </div>
    <nav class="footer-links">
      <a class="footer-link link" href="#how-it-works">How It Works</a>
      <a class="footer-link link" href="#organic-fruits">Fruits</a>
      <a class="footer-link link" href="#contacts">Contacts</a>
    </nav>
    <div class="footer-contact">
      <ul class="footer-list">
        <li class="footer-social list">
          <a href="https://facebook.com" class="footer-list-link">
            <svg class="footer-list-svg">
              <use
                href="./images/icons.svg#facebook"
                width="24"
                height="24"
              ></use>
            </svg>
          </a>
        </li>

        <li class="footer-social list">
          <a href="https://instagram.com" class="footer-list-link">
            <svg class="footer-list-svg">
              <use
                href="./images/icons.svg#instagram"
                width="24"
                height="24"
              ></use>
            </svg>
          </a>
        </li>

        <li class="footer-social list">
          <a href="http://youtube.com" class="footer-list-link">
            <svg class="footer-list-svg">
              <use
                href="./images/icons.svg#youtube"
                width="24"
                height="24"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="footer-contact-details list">
        <li>
          <a
            class="footer-mobile link"
            href="tel:+380684439426"
            target="_blank"
            rel="noopener noreferrer"
            >+380 (68) 443-94-26
          </a>
        </li>
        <li>
          <a
            class="footer-address link"
            href="https://goo.gl/maps/wRcbRAXqsfhw3Eeg7"
            target="_blank"
            rel="noopener noreferrer"
            >1678 S. Pioneer Road <br />
            Salt Lake City <br />
            UT 84104
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
