<!-- Fruits -->
<section class="section fruits-section" id="organic-fruits">
  <div class="fruits">
    <h2 class="fruits-header">oRGANIC fRUITS</h2>
    <p class="fruits-text">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>

    <div class="fruits-container">
      <div class="fruits-wrapper">
        <picture class="strawberry fruits-image">
          <h3 class="fruits-container-header">Strawberry</h3>
          <p class="fruits-container-text">Plant</p>
          <source
            srcset="./images/strawberry.png 1x, ./images/strawberry@2x.png 2x"
          />

          <img src="./images/strawberry.png" alt="Strawberry" width="295" />
          <p class="fruits-container-price">100 UAH / kg</p>
        </picture>
        <picture class="banana fruits-image">
          <h3 class="fruits-container-header">Banana</h3>
          <p class="fruits-container-text">Plant</p>
          <source srcset="./images/banana.png 1x, ./images/banana@2x.png 2x" />

          <img src="./images/banana.png" alt="Banana" width="295" />
          <p class="fruits-container-price">80 UAH / kg</p>
        </picture>
        <picture class="watermelon fruits-image">
          <h3 class="fruits-container-header">Watermelon</h3>
          <p class="fruits-container-text">Plant</p>
          <source
            srcset="./images/watermelon.png 1x, ./images/watermelon@2x.png 2x"
          />

          <img src="./images/watermelon.png" alt="Watermelon" width="295" />
          <p class="fruits-container-price">40 UAH / kg</p>
        </picture>
        <picture class="lime fruits-image">
          <h3 class="fruits-container-header">Lime</h3>
          <p class="fruits-container-text">Plant</p>
          <source srcset="./images/lime.png 1x, ./images/lime@2x.png 2x" />

          <img src="./images/lime.png" alt="Lime" width="295" />
          <p class="fruits-container-price">60 UAH / kg</p>
        </picture>
        <picture class="apple fruits-image">
          <h3 class="fruits-container-header">Apple</h3>
          <p class="fruits-container-text">Plant</p>
          <source srcset="./images/apple.png 1x, ./images/apple@2x.png 2x" />

          <img src="./images/apple.png" alt="Apple" width="295" />
          <p class="fruits-container-price">50 UAH / kg</p>
        </picture>
        <picture class="peach fruits-image">
          <h3 class="fruits-container-header">Peach</h3>
          <p class="fruits-container-text">Plant</p>
          <source srcset="./images/peach.png 1x, ./images/peach@2x.png 2x" />

          <img src="./images/peach.png" alt="Peach" width="295" />
          <p class="fruits-container-price">80 UAH / kg</p>
        </picture>
        <picture class="plum fruits-image">
          <h3 class="fruits-container-header">Plum</h3>
          <p class="fruits-container-text">Plant</p>
          <source srcset="./images/plum.png 1x, ./images/plum@2x.png 2x" />

          <img src="./images/plum.png" alt="Plum" width="295" />
          <p class="fruits-container-price">40 UAH / kg</p>
        </picture>
        <picture class="orange fruits-image">
          <h3 class="fruits-container-header">Orange</h3>
          <p class="fruits-container-text">Plant</p>
          <source srcset="./images/orange.png 1x, ./images/orange@2x.png 2x" />

          <img src="./images/orange.png" alt="Orange" width="295" />
          <p class="fruits-container-price">60 UAH / kg</p>
        </picture>
        <picture class="kiwi fruits-image">
          <h3 class="fruits-container-header">Kiwi</h3>
          <p class="fruits-container-text">Plant</p>
          <source srcset="./images/kiwi.png 1x, ./images/kiwi@2x.png 2x" />

          <img src="./images/kiwi.png" alt="Kiwi" width="295" />
          <p class="fruits-container-price">90 UAH / kg</p>
        </picture>
      </div>
    </div>

    <div class="order-wrap">
      <button type="button" class="order-button" data-modal-open>
        <svg id="order-icon" class="order-icon" width="14" height="14">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
        ORDER
        <!-- <p class="order-button-text">oRDER</p> -->
      </button>
    </div>

    <!-- <div class="order-wrap">
      <button type="button" class="order-button" data-modal-open>
        <div class="order-button-wrap">
          <svg class="order-icon" width="14" height="14">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
          ORDER
          <p class="order-button-text">oRDER</p>
        </div>
      </button>
    </div> -->
  </div>
</section>
