 <section class="hero hero-bg">
      <div class="hero-container">
        <div class="hero-watermelon">
          <p class="hero-watermelon-description">
            Our expertly curated fruit baskets are made with the freshest,
            highest quality fruits available. Whether you are looking for a
            healthy snack or a gift for a loved one, Fresh Harvest Box has got
            you covered.
          </p>

          <div class="hero-watermelon-block">
            <p class="block-title">Fruit</p>
            <div class="photo-block">
              <img
                class="hero-watermelon-img"
                src="images/watermelon.png"
                alt="watermelon"
              />
            </div>
            <p class="watermelon-description">
              Refreshing and juicy, watermelon is the perfect summer treat and a
              great source of hydration
            </p>
          </div>
        </div>
        <div class="hero-girl">
          <div class="hero-block-img">
            <img
              class="hero-orange"
               srcset="
                images/red-haired-woman-mobile.webp    311w,
                images/red-haired-woman-mobile@2x.webp 622w,
                images/red-haired-woman-tablet.webp    452w,
                images/red-haired-woman-tablet@2x.webp 904w
              "
              sizes="(min-width: 768px) 452px, 311px"
              src="images/red-haired-woman.png"
              alt="The girl with orange"
            />
          
            <a class="hero-link" href="#organic-fruits"> shop <br />now </a>
          </div>
          <div class="hero-block-title">
            <h1 class="hero-title">
              fresh harvest box <br/> is your one-stop place for a delicious
              fruit basket
            </h1>
          </div>
        </div>
        <div class="hero-strawberry">
          <ul class="hashtag-list">
            <li class="hashtag-list-item">
              <h3 class="hashtag-text">#ORGANIC</h3>
            </li>
            <li class="hashtag-list-item">
              <h3 class="hashtag-text">#PRODUCTS</h3>
            </li>
            <li class="hashtag-list-item">
              <h3 class="hashtag-text">#BASKET</h3>
            </li>
            <li class="hashtag-list-item">
              <h3 class="hashtag-text">#FRUITS</h3>
            </li>
          </ul>
          <div class="hero-strawberry-block">
            <p class="block-title">Fruit</p>
            <div class="second-photo-block">
              <img
                class="hero-strawberry-img"
                 srcset="
                  images/hero-strawberry-basket.webp    1x,
                  images/hero-strawberry-basket@2x.webp 2x
                "
                src="images/strawberry-basket.png"
                alt="strawberry basket"
              />
            </div>
            <p class="strawberry-description">
              Sweet and juicy, strawberries are packed with vitamin C and
              antioxidants, making them a delicious and healthy snack
            </p>
          </div>
        </div>
        
    </section>